// Place all the styles related to the api/artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "../base/colors.scss";

.profileHeader {
  position: relative;
  margin-left: -60px;
  margin-right: -60px;
  margin-top: -30px;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
}

.artist__show__name {
  margin-top: 15px;
  padding-left: 30px;
}

.edit__link {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.show__bio {
  padding-left: 8px;
}

.profileSettings__baseFields {
  padding-left: 50px;
}

.show_avatar {
  width: 200px;
  height: 200px;
  opacity: 1;
}

.profileHeader__info {
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, #ff8080, #f80);
}

.profileHeaderInfo__avatar {
  margin-right: 30px;
}

.g-type-shrinkwrap-primary,
.g-type-shrinkwrap-large-primary {
  color: #fff;
  font-weight: 100;
}

.g-type-shrinkwrap-large-primary {
  font-size: 24px;
  line-height: 37px;
  padding: 4px 7px;
}

.g-type-shrinkwrap-block {
  display: inline-block;
}

.sc-media,
.sc-media-content,
.sc-media-body {
  overflow: hidden;
}

.profileHeader__edit {
  position: absolute;
  left: 230px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  padding: 30px;
}

.sc-media-image,
.sc-media-left {
  float: left;
  margin-right: 10px;
}

.image.customImage .image__button {
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.imageChooser {
  height: 100%;
  cursor: pointer;
}

.l-user-hero {
  display: block;
}

.image__button {
  background-color: transparent;
  width: 30px;
  height: 30px;
  color: #666;
  border: none;
  border-bottom: 1px solid #666;
}

.image__button:hover {
  color: $black;
  font-size: 12px;
  border-bottom: 3px solid $black;
}

.edit__link {
  color: white;
}

.l-container {
  padding: 0 30px;
  width: 1180px;
  margin: 0 auto;
}

.l-container.l-content {
  padding-top: 46px;
  background-color: $white;
  padding-bottom: 19px;
}
