// Place all the styles related to the api/artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "../base/colors.scss";
@import "../base/breakpoints";

.profileHeader {
    width: 1181px;
    margin-left: -28px;
    padding-bottom: 30px;
}

.artist__show__name {
  margin-top: 15px;
  padding-left: 30px;
}

.edit__link {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.show__bio {
  padding-left: 8px;
}

.profileSettings__baseFields {
  padding-left: 50px;
}

.show_avatar {
  width: 200px;
  height: 200px;
  opacity: 1;
}

.profileHeader__info {
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, #ff8080, #f80);
}

.profileHeaderInfo__avatar {
  margin-right: 30px;
}

.profileHeaderInfo {
  display: flex;
    flex-direction: row;
    padding-bottom: 35px;
}

.g-type-shrinkwrap-primary,
.g-type-shrinkwrap-large-primary {
  color: #fff;
  font-weight: 100;
}

.g-type-shrinkwrap-large-primary {
  font-size: 24px;
  line-height: 37px;
  padding: 4px 7px;
}

.g-type-shrinkwrap-block {
  display: inline-block;
}

.sc-media,
.sc-media-content,
.sc-media-body {
  overflow: hidden;
}

.profileHeader__edit {
  position: absolute;
  left: 230px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  padding: 30px;
}

.sc-media-image,
.sc-media-left {
  float: left;
  margin-right: 10px;
}

.image.customImage .image__button {
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.imageChooser {
  height: 100%;
  cursor: pointer;
}

.l-user-hero {
  display: block;
}

.image__button {
  background-color: transparent;
  width: 30px;
  height: 30px;
  color: #666;
  border: none;
  border-bottom: 1px solid #666;
}

.image__button:hover {
  color: $black;
  font-size: 12px;
  border-bottom: 3px solid $black;
}

.edit__link {
  color: white;
}

.l-container.l-content {
  padding-top: 46px;
  background-color: $white;
  padding-bottom: 19px;
}


@media only screen and (min-width: $phone) {
.profileHeader {
    width: 310px;
    margin-left: -8px;
}
.profileHeaderInfo {
    flex-direction: column;
}
.sc-media-image {
      align-self: center;
}
}

@media only screen and (min-width: $tablet) {
.profileHeader {
width: 581px;
    margin-left: -15px;
}
.profileHeaderInfo {
    flex-direction: row;
    padding-bottom: 0px;
}
}

@media only screen and (min-width: $tablet-large) {
.profileHeader {
    width: 776px;
    margin-left: -20px;
}
}

@media only screen and (min-width: $laptop-small) {
.profileHeader {
    width: 874px;
    margin-left: -22px;
}
}

@media only screen and (min-width: $laptop-med) {
.profileHeader {
  width: 970px;
  margin-left: -25px;
}
}

@media only screen  and (min-width: $laptop) {
.profileHeader {
  width: 1181px;
  margin-left: -28px;
}
}

@media only screen  and (min-width: $large-monitor) {
.profileHeader {
    width: 1768px;
    margin-left: -45px;
}
}
