@import '../base/colors.scss';

.g-box-full {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.sc-type-light {
    font-weight: 100;
    color: #999;
}

.sc-border-light-bottom {
    border-bottom: 1px solid #f2f2f2;
}

.commentsList__title {
    padding-bottom: 7px;
    line-height: 28px;
}

.comment__post {
    width: 15px;
    height: 15px;
    border: 0;
    padding: 0;
    position: absolute;
    right: 70px;
    top: 308px;
    color: #999;
}

.commentsList__icon {
    vertical-align: bottom;
    height: 21px;
    width: 21px;
    margin-right: -1px;
}

.commentItem__content {
    padding-top: 20px;
    padding-left: 8px;
}

.commentItem__read {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.commentItem {
    position: relative;
    padding: 10px 10px 10px 0;
}

.commentItem__avatar {
    color: #999;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 10px;
}

.image__rounded.m-loaded.sc-artwork {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: 0 0;
}

.comment_av {
    width: 40px;
    height: 40px;
    opacity: 1;
}

.listenEngagement__commentForm, .listenEngagement__commentFormDisabled {
    margin-bottom: 10px;
}

.listenEngagement__commentForm {
    margin-top: -7px;
}

.commentForm.m-large {
    margin-top: 0px;
    opacity: 1;
    margin-bottom: 30px;
}

.commentForm__wrapper {
    height: 0;
    padding: 5px;
    background: #f2f2f2;
    border: 1px solid #e5e5e5;
    overflow: hidden;
}

.commentForm.visible .commentForm__wrapper {
    overflow: visible;
}

.commentForm.m-large .commentForm__wrapper {
    height: 40px;
    box-sizing: border-box;
}

.commentForm__avatar {
    margin-right: 0;
    position: relative;
    float: left;
}

.commentForm__input:focus {
    outline: none;
}

.commentForm.m-large .commentForm__avatar {
    position: relative;
    width: 40px;
    height: 40px;
    left: -6px;
    top: -6px;
}

.commentForm.m-large .commentForm__input {
    border-radius: 4px;
    height: 27px;
    font-size: 14px;
    width: 96%;
    border: none;
}

.commentItem__username {
    font-size: 12px;
}

.sc-text-light {
    color: #999;
}

.commentItem__body p {
    margin: 0;
}