@import '../base/colors.scss';
.sc-list-nostyle {
    list-style: none;
    margin: 0;
}

.soundList__item:first-child {
    padding-top: 0;
}

.soundList__item {
    clear: both;
    margin-bottom: 36px;
    position: relative;
}

.sound {
    height: auto;
}

.sound__body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    height: 100%;
}

.sound__artwork {
    position: relative;
    margin-right: 15px;
}

.sound__coverArt {
    background: center center/contain no-repeat;
    display: block;
    width: 160px;
    height: 160px;
    z-index: 2;
}

.sc-artwork.sc-artwork-placeholder-4 {
    background-image: linear-gradient(135deg,#70929c,#e6846e);
}

.image__full, .image {
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
}

.sc-artwork {
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}

.sound__content {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
}

.sound__header {
    position: relative;
    margin: 0 0 6px 0;
    padding-top: 7px;
    min-height: 43px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.soundTitle__titleContainer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.soundTitle__usernameTitleContainer {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}

.soundTitle.streamContext .soundTitle__title {
    font-size: 15px;
    line-height: 1.2;
}

.sound__coverArt img {
    height: 100%;
    width: 100%;
}

.soundTitle__playButton {
    margin-right: 5px;
}

.sc-button-xlarge.sc-button-play, .sc-button-xlarge.sc-button-pause {
    width: 36px;
    height: 36px;
}

.sc-button-play, .sc-button-pause, .sc-button-prev, .sc-button-next, .sc-button.sc-button-blocked, .sc-button.sc-button-play:disabled, .sc-button.sc-button-play:disabled:hover, .sc-button.sc-button-play.sc-button-disabled:disabled {
    background-color: #f50;
    border-radius: 50%;
    border: none;
}

.sc-button-play i {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    
    opacity: 1;
    transition: opacity .3s;
    
    color: white;
    size: 12px 18px;
    margin-top: -6px;
    margin-left: -8px;
}

.sound__footer {
    position: relative;
    margin-top: 10px;
    min-height: 30px;
    box-sizing: border-box;
}

.g-all-transitions-300 {
    transition: all 300ms ease-in-out;
}

.sound__footerRight {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.sc-ministats-group {
    list-style: none;
    margin: 0;
}

.sc-ministats-group>.sc-ministats-item {
    float: left;
}

.sc-ministats-group .sc-ministats-small {
    margin-right: 5px;
    padding-right: 4px;
}

.sc-ministats-group .sc-ministats {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 7px;
    padding-right: 6px;
}

.sc-ministats-small {
    color: #999;
    font-size: 11px;
    line-height: 12px;
}

.sc-ministats {
    display: inline-block;
    font-family: "InterstateSound Tnum","Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    color: #999;
}

.delete__button {
    float: right;
    padding-right: 12px;
    color: #999;
    cursor: pointer;
    border: none;
    background: none;
}

.delete__button i {
    cursor: pointer;
}

.featured-track-index {
    background-color: #e6846e;
    margin: auto;
    padding: 30px 0;
    width: 90%;
}