@import '../base/colors.scss';
.uploadMain {
    margin: auto;
    padding: 30px 0;
    width: 800px;
}

.uploadMain__chooserContainer {
    position: relative;
    margin: 0 0 5px 0;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
}

.g-shadow-light {
    box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
}

.sc-border-light {
    border: 1px solid #f2f2f2;
}

.uploadMain__title {
    padding-bottom: 36px;
    padding-top: 36px;
    font-size: 24px;
    line-height: 1;
}

.track-form {
    display: flex;
    justify-content: space-between;
}

.form-side {
    flex-direction: column;
    justify-content: space-around;
    padding-right: 15px;
    display: flex;
}

.upload-cont {
    padding-bottom: 15px;
    padding-left: 15px;
}

// .upload-label {
//     position: absolute;
//     left: 0px;
//     width: 100%;
//     padding-left: 10px;
// }

// .upload-input {
//     position: absolute;
//     width: 100%;
// }